.main {
    background-color: #000000;
    color: #ffffff;
    width: 100vw;
    height: 130px;
    display: flex;
    place-items: center;
}

.main>div {
    font-size: 20px;
    font-weight: bold;
}