.main {
    background-color: #000000;
    color: #ffffff;
    width: 100vw;

}

.main>div {
    display: flex;
    place-items: center;
    width: 80%;
    margin: 0 auto;
}

.text {
    font-size: 20px;
    font-weight: bold;
}